<header class="major">
  <h2>Latest Attacks</h2>
</header>
<div class="table-wrapper">
  <table class="alt">
    <thead>
      <tr>
        <th>SeqID</th>
        <th>SrcIP</th>
        <th>SrcPort</th>
        <th>DesIP</th>
        <th>DesPort</th>
        <th>Started </th>
        <th>Ended </th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
    <% @latest_attacks.each do |attack| %>
      <tr>
        <td><%= attack.sequence_id %></td>
        <td><%= attack.source_ip %></td>
        <td><%= attack.source_port %></td>
        <td><%= attack.destination_ip %></td>
        <td><%= attack.destination_port %></td>
        <td><%= attack.started_at %></td>
        <td><%= attack.ended_at %></td>
        <td><%= attack.attack_type %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>