<div id="wrapper">
  <%= render 'shared/header' %>
  <div id="main">
    <section class="main">
      <header class="major">
        <h2>Attacks</h2>
      </header>
      <%= form_with url: "/attacks", method: :get do |f| %>
        <%= f.select :by_attack_type, options_for_select(Attack.attack_types.to_a, params[:by_attack_type]), { prompt: 'Attack Type...' }, { class: 'col-2 col-12-xsmall filters' } %>
        <%= f.text_field :by_source_ip, value: params[:by_source_ip], placeholder: 'Source IP...', class: 'col-2 col-12-xsmall filters' %>
        <%= f.text_field :by_source_port, value: params[:by_source_port], placeholder: 'Source Port...',  class: 'col-2 col-12-xsmall filters' %>
        <%= f.text_field :by_destination_ip, value: params[:by_destination_ip], placeholder: 'Destination IP...', class: 'col-2 col-12-xsmall filters' %>
        <%= f.text_field :by_destination_port, value: params[:by_destination_port], placeholder: 'Destination Port...', class: 'col-2 col-12-xsmall filters' %>
        <%= f.submit "Search", class: 'button primary filters col-2', disable_with: 'Submiting...' %>
      <% end %>

      <div class="table-wrapper">
        <table class="alt">
          <thead>
            <tr>
              <th>SeqID</th>
              <th>SrcIP</th>
              <th>SrcPort</th>
              <th>DesIP</th>
              <th>DesPort</th>
              <th>Started </th>
              <th>Ended </th>
              <th>Duration</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <% @attacks.each do |attack| %>
              <tr>
                <td><%= attack.sequence_id %></td>
                <td><%= attack.source_ip %></td>
                <td><%= attack.source_port %></td>
                <td><%= attack.destination_ip %></td>
                <td><%= attack.destination_port %></td>
                <td><%= attack.started_at %></td>
                <td><%= attack.ended_at %></td>
                <td><%= attack.duration %></td>
                <td><%= attack.attack_type %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Back to dashboard', dashboard_path%>
      </div>
    </section>
  </div>
</div>

<style>
  /* #main > .main {
    padding: 5em 3em 3em 3em;
  } */
</style>
