<div id="wrapper">
  <%= render 'shared/header' %>
  <div id="main">
    <section class="main">
      <header class="major">
        <h2>Users</h2>
      </header>
      <%= form_with url: "/manage_users", method: :get do |f| %>
        <%= f.text_field :by_id, value: params[:by_id], placeholder: 'ID...', class: 'col-3 col-12-xsmall filters' %>
        <%= f.text_field :by_name, value: params[:by_name], placeholder: 'Name...', class: 'col-3 col-12-xsmall filters' %>
        <%= f.select :by_role, options_for_select([['User', 'false'], ['Admin', 'true']], params[:by_role]), { prompt: 'User Role...' }, { class: 'col-3 col-12-xsmall filters' } %>
        <%= f.submit "Search", class: 'button primary filters col-3', disable_with: 'Submiting...' %>
      <% end %>

      <div class="table-wrapper">
        <table class="alt">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.admin? ? 'Admin' : 'User' %></td>
                <td><%= link_to 'delete', delete_user_path(id: user.id), method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="actions">
            <%= link_to "Add User", create_users_path, :class=> "button primary" %>
            </div>
      </div>
    </section>
  </div>
</div>
