<!DOCTYPE html>
<html>
  <head>
    <title>DIOTA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <p class="success <%= notice ? 'visable fade-out animated' : 'hidden' %> "><%= notice %></p>
    <p class="alert <%= alert ? 'visable fade-out animated' : 'hidden' %> "><%= alert %></p>
  </head>

  <body class="is-preload">
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_pack_tag 'util' %>
    <%= javascript_pack_tag 'main' %>
  </body>
</html>
